<div class="terminal-nav">
    <div class="terminal-logo">
      <div class="logo terminal-prompt"><a href="#" class="no-style">Marcin Koziej</a></div>
    </div>
    <nav class="terminal-menu">
      <ul>
        <li><a class="menu-item active" href="#">Welcome</a></li>
        <li><a class="menu-item" href="#">About</a></li>
      </ul>
    </nav>
</div>
<main></main>
