body {
    padding: var(--global-space);
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

main {
    position: relative;
}

.window {
    position: absolute;
    width: calc(var(--global-space) * 80);
    background-color: white;
    z-index: 1;
}

header {
    cursor: pointer;
}

header > .close {
    float: right;
    margin-right: var(--global-space);
    cursor:
        url("./img/cross.png") 8 8,
        pointer;
}
